
<h2 style='font-family:Arial'> Welcome to "Adopt, Don't Shop" </h2>

<img src= "https://www.realestate-tokyo.com/media/5938/animal-shelter2.jpg" alt="a cute dog" class="main_image"> 

<h3> <%= link_to "Visit our shelters", "/shelters/"  %> </h3>