<p> Here are all the applications for this pet </p>

<% if @applications.length > 0 %>
  <% @applications.each do |application| %>
      <%= link_to "#{application.name}", "/applications/#{application.id}" %>
  <% end %>
<% else %>
  <p>This pet has no applications at this time.</p>
<% end %>
