/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* img {
   width: 100%;
   height: auto;
   vertical-align: middle;
 } */

 body {
width: 80%;
padding-left: 20%;
padding-right: 20%;
}

 img {
  border-radius: 8px;
  width: 50%;
}

 .pics_in_a_row {
   display: flex;
 }

 .img1 { flex: 1.3344; }
 .img2 { flex: 1.3345; }
 .img3 { flex: 0.7505; }
 .img4 { flex: 1.5023; }
 .img5 { flex: 0.75; }



 /* Aaaand just some general styling. */

 *, *:before, *:after {
   box-sizing: border-box;
 }

 body {
   background: lightgreen;
 }

 .container {
   background: gray;
   margin: 0 auto;
   padding: 5%;
   width: 75%;
 }

 h1 {
   margin-top: 0;
 }

 h2 {
   font-weight: normal;
   font-size: 25px;
   margin-bottom: 30px;
 }

 .muted {
   font-style: times;
   color: #666;
 }

 p, li {
   line-height: 1.5
 }

 li {
   margin-bottom: 7px;
 }

 p + p {
   margin-top: -7px;
 }

 code {
   background: #ffebee;
   padding: 2px 5px;
   font-size: 90%;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin: 0 2px;
 }

 .pics_in_a_row {
   margin: 50px 0;
 }

 .pics_in_a_row > div:not(:last-child) {
   margin-right: 2%;
 }
